.nav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: whitesmoke;
  padding: 1rem 5rem;
  z-index: 1000;
  min-height: 50px;
  // border-bottom: 4px solid green;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  height: inherit;
}

.logo {
  width: 160px;
  min-width: 160px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;

  margin-right: 1rem;
  height: inherit;
  &-item {
    display: block;
    cursor: pointer;
    margin-left: 35px;
    margin-right: 35px;

    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;

    &::after {
      padding-bottom: 0.25rem;
      display: block;
      content: '';
      border-bottom: solid 2px green;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
  padding-right: 1rem;

  &button {
    width: 100%;
    padding: 0.5 1rem;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

.nav-icon {
  svg {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
}
